ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0px;
    overflow: hidden;
    width:100%;
    background-color: #010101;
    text-align: center;
    left: 0;
    width: 100%;
  }
  li:last-child {
    align-self: flex-end;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #4371b8;
  }

  .active {
    background-color: #4f6887;
  }

  #logo{
    max-height: 40px;
    padding-top: 2.4px;
  }

  #title{
    margin-top: 3vh;
    min-height: 7vh;
    font-size: 6vw;
    text-align: center;
    font-style: normal;
    font-optical-sizing: auto;
    font-family: 'Baskervville SC'
  }

  .footer {
    background-color: #c7cdd4;
    text-align: center;
    padding: 10px;
    /* margin-top: 15px; */
    /* left: 0; */
    /* bottom: 0; */
    /* width: 100%; */
    /* bottom: 0; */
    /* border-top: 1px solid #e1e1e1; */
}
.footer p {
    margin: 0;
    color: #63648a;
}

#frontPageImage{
    /* margin-top: -16px; */
    width: 100%;
    position: relative;
}

#frontPageImage img{
    max-width: 100%;
    height: 60%;
    object-fit: fill ;
}

body {
    /* background-color: lightblue; */
    max-width: 100vw;
    margin: 0;
    min-width:600px;
    /* min-width: 1200px; */
    overflow-x: auto;
  }
/* This is for the image popup gallery */
  .column {
    float: left;
    width: 25%;
    padding: 10px;
  }
  
  /* Style the images inside the grid */
  .column img {
    opacity: 1;
    cursor: pointer;
    max-width: 20vw;
  }
  
  .column img:hover {
    opacity: 0.5;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The expanding image container (positioning is needed to position the close button and the text) */
  .container {
    position: relative;
    display: none;
  }

  
  /* Closable button inside the image */
  .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }

  .row{
    padding-top: 10px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
  }

  h5{
    margin-bottom: 0;
    text-align: center;
    /* font-family: 'Baskervville SC'; */
    font-size: medium;
    font-weight: lighter;
    padding: auto;
  }


  .column2{
    float: left;
    /* width: ; */
    overflow-wrap: break-word;
    padding: 10px;
  }

  .column2::after{
    /* float: left; */
    /* width: ; */
    overflow: hidden;
    /* text-overflow: ellipsis; */
    text-overflow: clip;
    overflow-wrap: break-word;
    /* padding-left: 10px; */
  }

  .column2 img {
    /* max-width: 50vw; */
    width: 300px;
    /* padding: 10px; */
    max-width: 50vw;
  }

  .column2 p {
    word-wrap: break-word;
    font-size: 10px;
    min-width: 40vw;
  }


  #homepageQuote{
  opacity: 0.75;
  background-color: white;
  color: rgb(0, 0, 0);
  font-size: 10vw; /* Responsive font size */
  font-weight: bold;
  margin: 0 auto; /* Center the text container */
  padding: 10px;
  width: 50%;
  text-align: center; /* Center text */
  position: absolute; /* Position text */
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); /* Position text in the middle */
  mix-blend-mode: screen; /* This makes the cutout text possible */
  }

  /* @media screen and (max-width: 1000px) {
    .column3 {
      
      flex: 50%;
      max-width: 50%;
    }
  } */
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column3 {
      flex: 100%;
      max-width: 100%;
    }
  }
  .row3 {
    background-color: #152538;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    padding-bottom: 10px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column3 {
    flex: 25%;
    max-width: 33%;
    padding: 0 4px;
  }
  
  .column3 img {
    cursor: pointer;
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }

  .collapsible {
    background-color: #ffffff;
    color: #8f97b7;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #95bcf763;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content2 {
    padding: 0 18px;
    display: none;
    /* overflow: hidden; */
    /* background-color: #f1f1f1; */
  }

  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
  }
  
  /* Header/Blog Title */
  .header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {
    float: left;
    width: 25%;
    padding-right: 20px;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 75%;

  }
  
  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }